annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
fastapi==0.135.1
h11==0.16.0
idna==3.11
pydantic==2.13.0b2
pydantic-settings==2.8.1
pydantic_core==2.42.0
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.42.0
python-keycloak==7.1.1
python-dotenv==1.2.2
httpx==0.28.1


